<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  <servlet-name>getTestDataController</servlet-name>
  <display-name>getTestDataController</display-name>
  <description></description>
  <servlet-class>gargbhoomika.web.getTestDataController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>getTestDataController</servlet-name>
  <url-pattern>/getTestData</url-pattern>
  </servlet-mapping>
</web-app>
